/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 oct. 2017, 17:42:12
    Author     : Utilisateur
*/

/* 
SITE POUR LES COULEURS -- NE PAS SUPRIMER 
http://stylescss.free.fr/couleurs.php
*/

h1
{
    font-family: "Lucida Console", Courier, monospace;
    font-size: 50px;
    color: #008080;
    text-align: center;
    margin-right: 5%; 
}
#heure{
    color: #008080;
    font-family: "Lucida Console", Courier, monospace;
}
h2{
  font-size: 40px; 
  color: #FFFFF;
}
h3{
 
  font-size: 30px; 
  color: #4682B4;
}

h4{

  font-size: 20px; 
  color: #FFFFF;
}
body
{
    background-color: #F0FFF0;
}


head
{
    background-color: #F0FFF0;
}
html
{
    background-color: #F0FFF0;
}
layoutUnit
{
   background-color: #F0FFF0; 
}

.ui-menuitem-text{
    font-size:32px;
    color:#191970;
    align-content: center;
}

.ui-menubar{
    background-image: none;
    background-color: #66CDAA;

}

.ui-layout-unit .ui-layout-unit-content{
    overflow: hidden;
}

.ui-layout-unit{
    border: none;
}

 #global { /* Conteneur global */
        display:flex;
        width:100%;
        height:100%;
        margin:auto; /* Conteneur centré latéralement */


#infos{
        width:25%;
        height:100%;
        border:1px solid blue;/* Uniquement pour visualiser le cadre */
        padding:10px;
        margin:auto; /* Pour un centrage automatique */
       
        
}
#courbe{
        width:75%;
        height:100%;
        border:1px solid blue;/* Uniquement pour visualiser le cadre */
        padding:10px;
        margin:auto; /* Pour un centrage automatique */
 }
 .ui-steps .ui-steps-item {
    width: 14%;
}
 
.ui-state-highlight {
    text-shadow: none !important;
}
 
.ui-steps.custom {
    margin-bottom: 30px;
}
 
.ui-steps.custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}
 
.ui-steps.custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 30px;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
}
 
.ui-steps.custom .ui-steps-item.ui-state-highlight .ui-steps-title {
    color: #555;
}
 }