/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 oct. 2017, 17:42:12
    Author     : Utilisateur
*/

h1
{
    font-family: Verdana;
    font-size: 70px;
    color: red;
    text-align: right;
    margin-right: 5%;
}

.ui-menuitem-text{
    font-size:32px;
    color:white;
    padding-top:5%;
    padding-bottom:5%;
    padding-left: 35%;
    padding-right:35%
}

.ui-menubar{
    background-color: darkred;
    background-image: none;
}

.ui-layout-unit .ui-layout-unit-content{
    overflow: hidden;
}

.ui-layout-unit{
    border: none;
}