/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 oct. 2017, 17:42:12
    Author     : Utilisateur
*/

/* 
SITE POUR LES COULEURS -- NE PAS SUPRIMER 
http://stylescss.free.fr/couleurs.php
*/

h1
{
    font-family: Verdana;
    font-size: 50px;
    color: #2E8B57;
    text-align: center;
    margin-right: 5%;

    
}

body
{
    background-color: #F0FFF0;
}


head
{
    background-color: #F0FFF0;
}
html
{
    background-color: #F0FFF0;
}
layoutUnit
{
   background-color: #F0FFF0; 
}

.ui-menuitem-text{
    font-size:32px;
    color:#191970;
    padding-top:5%;
    padding-bottom:5%;
    padding-left: 35%;
    padding-right:35%
}

.ui-menubar{

    background-image: none;
    background-color: #66CDAA;

}

.ui-layout-unit .ui-layout-unit-content{
    overflow: hidden;
}

.ui-layout-unit{
    border: none;
}